<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>W10D1 HW (&copy;Steve Kang @ SEIF 2019)</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
        <div class="container">
            <h1>New Budget</h1>
            <div class="form-group">
                <form action="/budgets" method="POST">
                    <input type="text" name="date" class="form-control" placeholder="date"></input>
                    <input type="text" name="name" class="form-control" placeholder="name"></input>
                    <input type="number" name="amount" class="form-control" placeholder="amount"></input>
                    <input type="text" name="from" class="form-control" placeholder="from"></input>
                    <input type="submit" class="form-control" value="Create New item"></input>
                </form>
        </div>
    </body> 
</html>